* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.visually-hidden {
  display: none;
}

/* 부트스트랩에 권장하는 그리드 시스템
sm(Small), md(Midium)  768px, lg(Large) 1200px
*/
.sm-only {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  padding: 10px 0;
  background-color: #fff;
}

.logo img {
  width: 70px;
}

.gnb-list {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.gnb-item a {
  font-size: 16px;
  font-weight: bold;
  transition: color 300ms ease-in-out;
}

.gnb-item a:hover {
  color: red;
}

.lnb-wrapper {
  position: sticky;
  top: 0;
  z-index: 10;
  /* 사진이 앞으로 덮을때 */
}

.lnb-list {
  display: flex;
  background-color: rgb(235,27,27) ;
  padding: 20px 0;
  border-top: 3px solid rgb(255,213,23);
}

.lnb-item:first-child {
  margin-left: 20px;
}

.lnb-item a {
  color: #fff;
  padding: 0 20px;
}

.lnb-item a:hover {
  font-weight: bold;
}

.background {
  height: 600px;
  background-image: url('./images/back.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.food-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* flex 정렬시 자리가 차면 밑으로 내려오게 하는것 */
  width: 90%;
  margin: 80px auto 0 auto;
}

.food-box-list {
  display: flex;
  margin-top: 30px;
}

.food-box-list:first-child {
  margin-top: 0;
}

.food-box-item {
  display: flex;
  justify-content: center;
  width: 300px;
  margin-right: 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #e1e1e1;
  overflow: hidden;
  /* box-radius 박스를 깎았는데 이미지가 덮어서 숨기고 싶을 떄*/
}

.food-box-item:last-child {
  margin-right: 0;
}

.food-box-item a {
  transition: opacity 300ms ease-in-out;
}

.food-box-item a:hover {
  opacity: 0.7;
  /* 호버 시 화면이 흐려짐 */
}

.food-box-item img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  /* 화면 안깨지면서 내가 원하느 사이즈만큼 확대 */
}

.food-box-txt {
  width: 90%;
  margin: 30px auto;
  text-align: center;
  font-weight: bold;
}

