* {
  font-family: 'Oswald', sans-serif;
}

.position {
  width: 500px;
  height: 800px;
  margin: 0 auto;
  border: 3px solid darkblue;
}

.position div {
  width: 200px;
  height: 100px;
  border: 1px solid #000;
  text-align: center;
  /* 박스 내에서 텍스트를 수직 중앙에 배치시키기 위해 사용 */
  line-height: 100px;
}

.box1 {
  position: top;
  top: 100px;
  background-color: red;
}

.box2 {
  background-color: yellow;
}

.box3 {
  background-color: yellowgreen;
}