* {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  /* position : absolute 상태에서는 flex가 먹지 않는다. */
  height: 100vh;
  background-color: rgb(212, 72, 240);
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  /* traslate(x,y) */
  transform: translate(-50%,-50%);
  width: 200px;
  height: 200px;
  background-color: rgb(219, 217, 55);
}